@import "bootstrap";

nav {
  .btn {
    margin-right: 1rem;
  }
}

.container {
  min-width: 100%;
  margin-top: 5rem;
}

.alert {
  margin-top: 5rem;
  margin-bottom: -4rem;
}

main {
  margin-top: 2rem;
}

aside {
  border-right: 1px solid whitesmoke;
  height: 90vh;
}

a:hover {
  text-decoration: none;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: 500;
  color: #3a3939;
}

.jumbotron {
  margin-bottom: 0px;
  padding-top: 25%;
  background-image: url('/diary.jpg');
  height: 100vh;
  border-radius: 0px;
  text-align: center;
  color: whitesmoke;
  p {
    font-size: 2rem;
  }
}

textarea {
  height: 50vh;
}

.all-entries {
  margin: auto;
}

.card-item {
  padding-left: 1px;
  padding-right: 1px;
  display: inline-block;
}

.card-header {
  background-color: #dd3645;
  color: white;
  &:hover {
    background-color: #de3645bd;
  }
}

.card-body {
  color: #616161;
  a {
    padding: 0rem 0.8rem;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 0.2rem;
    &:hover {
      background-color: white;
      color: #de3645;
    }
  }
}
